@charset "utf-8";
/* Simple fluid media
   Note: Fluid media requires that you remove the media's height and width attributes from the HTML
   http://www.alistapart.com/articles/fluid-images/ 
*/
img, object, embed, video {
	max-width: 100%;
}

/* IE 6 does not support max-width so default to width 100% */
.ie6 img {
	width:100%;
}

/*
	Dreamweaver Fluid Grid Properties
	----------------------------------
	dw-num-cols-mobile:		4;
	dw-num-cols-tablet:		8;
	dw-num-cols-desktop:	12;
	dw-gutter-percentage:	25;
	
	Inspiration from "Responsive Web Design" by Ethan Marcotte 
	http://www.alistapart.com/articles/responsive-web-design
	
	and Golden Grid System by Joni Korpi
	http://goldengridsystem.com/
*/
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body{font-family: 'Arimo', sans-serif; font-weight: 400;
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none; 
	direction: rtl;                 /* prevent copy paste, to allow, change 'none' to 'text' */
	color: #3e474e;
}
a{ text-decoration:none; color: #3e474e;}
a:visited{ color: #3e474e;}
.fluid {
	clear: both;
	margin-left: 0;
	width: 100%;
	float: left;
	display: block;
}

.fluidList {
    list-style:none;
    list-style-image:none;
    margin:0;
    padding:0;        
}

/* Mobile Layout: 480px and below. */
  
.gridContainer {
	width: 100%;
	clear: none;
	float: none;
}
.loginLogo{ max-width:280px; margin:30px auto;}
.loginLogo img{ width:100%; height:auto;}
input{ border:1px solid #b9b9b9; text-align:right;font-family: 'Arimo', sans-serif; font-size:18px;}
.selectFields{ width:80%; margin:100px auto 0;}
.selectFields select.area{ border:1px solid #b9b9b9; text-align:right;font-family: 'Arimo', sans-serif; font-size:18px;background:url(../images/location.jpg) no-repeat right 7px; padding:10px 13% 10px 4%; width: 100%;margin-top: 32px;}
.selectFields select.subarea{ border:1px solid #b9b9b9; text-align:right;font-family: 'Arimo', sans-serif; font-size:18px;background:url(../images/Sublocation.jpg) no-repeat right 7px; padding:10px 13% 10px 4%; width: 100%;margin-top: 32px;}
.userinput{ background:url(../images/userIcon.jpg) no-repeat right 7px; padding:10px 13% 10px 4%; margin-bottom:10px; width: 83%;}
.noIconinput{ padding:10px 3% 10px 4%; margin-top:10px; width: 93%;}
.noIconinputMed{ padding:10px 3% 10px 4%; margin-top:10px; width: 49%;}
.noIconinputSmall{ padding:10px 3% 10px 4%; margin-top:10px; width: 33%; float:left;}
.packageinput{ background:url(../images/packageIcon.jpg) no-repeat right 7px; padding:10px 13% 10px 4%; margin-top:10px; width: 83%;}
.packageinputWrapper{position:relative;}
.packageinputButton{position: absolute;
    left: 5px;
    top: 18px;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background:url('../images/addRow.png')0 0 no-repeat;
    outline: none;
    cursor: pointer;
}
.passinput{ background:url(../images/PassIcon.jpg) no-repeat right 7px; padding:10px 13% 10px 4%; width: 83%;}
::-webkit-input-placeholder { color:#41464c; }
::-moz-placeholder { color:#41464c; } /* firefox 19+ */
:-ms-input-placeholder { color:#41464c; } /* ie */
input:-moz-placeholder { color:#41464c; }
.loginFields{ width:80%; margin:0 auto;}
.loginBtn{ width:50%; margin:10px auto; }
.loginBtn a{color:#fff; width:100%; margin:0 auto;    float: right;
font-size: 20px;
padding: 10px 0;
text-shadow: 0px -1px 0px rgba(30, 30, 30, 0.8);
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
background: rgb(255, 11, 11);
-webkit-box-shadow: 0px 2px 1px rgba(50, 50, 50, 0.75);
-moz-box-shadow:    0px 2px 1px rgba(50, 50, 50, 0.75);
box-shadow:         0px 2px 1px rgba(50, 50, 50, 0.75);text-align:center;}
.loginBtn a:visited{color:#fff;}

.doneScan{ width:70%; margin:10px auto; }
.doneScan a{color:#fff; width:100%; margin:0 auto;    float: right;
font-size: 20px;
padding: 10px 0;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
 background:url(../images/Vsign.png) no-repeat 11px 16px/11% rgb(255, 11, 11);
-webkit-box-shadow: 0px 2px 1px rgba(50, 50, 50, 0.75);
-moz-box-shadow:    0px 2px 1px rgba(50, 50, 50, 0.75);
box-shadow:         0px 2px 1px rgba(50, 50, 50, 0.75);text-align:center;}
.doneScan a:visited{color:#fff;}

.nextBtn{ width:70%; margin:10px auto; }
.nextBtn a{color:#fff; width:100%; margin:0 auto;    float: right;
font-size: 20px;
padding: 10px 0;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
 background:url(../images/next.png) no-repeat 23px 16px/11% rgb(255, 11, 11);
-webkit-box-shadow: 0px 2px 1px rgba(50, 50, 50, 0.75);
-moz-box-shadow:    0px 2px 1px rgba(50, 50, 50, 0.75);
box-shadow:         0px 2px 1px rgba(50, 50, 50, 0.75);text-align:center;}
.nextBtn a:visited{color:#fff;}

.redbutton{ width:35%; margin:15px 18px; float:right; }
.redbutton a{color:#fff; width:100%; margin:0 auto;  float: right;
font-size: 20px;
padding: 10px 0;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
 background: rgb(255, 11, 11);
-webkit-box-shadow: 0px 2px 1px rgba(50, 50, 50, 0.75);
-moz-box-shadow:    0px 2px 1px rgba(50, 50, 50, 0.75);
box-shadow:         0px 2px 1px rgba(50, 50, 50, 0.75);text-align:center;}
.redbutton a:visited{color:#fff;}

.redbutton2{ width:42%; margin:0 0 10px 0; float:right; }
.redbutton2 a{color:#fff; width:100%; margin:0 auto;  float: right;
font-size: 20px;
padding: 10px 0;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
 background: rgb(255, 11, 11);
-webkit-box-shadow: 0px 2px 1px rgba(50, 50, 50, 0.75);
-moz-box-shadow:    0px 2px 1px rgba(50, 50, 50, 0.75);
box-shadow:         0px 2px 1px rgba(50, 50, 50, 0.75);text-align:center;}
.redbutton2 a:visited{color:#fff;}
.redbutton2.left{ float:left;}


header{ height:70px; width:100%; background:#ca151d;}
.headerRight{ float:right; color:#4d070a; font-size:16px; margin:8px 11px 0 0;}
.headerRight span{ color:#fff; font-size:22px;} 
.menubtn{ float:left; margin:20px 0 0 11px;}
.underMenu{ width:33%; float:right; border-left:1px solid #cccccc;border-bottom:1px solid #cccccc;border-top:1px solid #cccccc; text-align:center; font-size:14px;}
.reportList{ width:90%; margin:0 auto;}
.reportListFirstItem{  margin-top:20px; padding:0 4%; font-size:20px;}
.reportListFirstItem span{ color:#ff2b2b; float:left;font-size: 24px;}
.reportList li{ line-height:34px; border-bottom:1px solid #b0b0b0; list-style:none; width:92%; padding:0 4%;}
.reportList li span{ color:#ff2b2b; float:left;font-size: 20px;}
.reportList ul{ padding:0; margin:0; border-top:1px solid #b0b0b0;}
.reportList h2{font-family: 'Arimo', sans-serif; font-weight:700; padding:0 4%; margin:0px 0 0 0; line-height:42px; font-size:24px;}
.footer{ float:right; position:absolute; bottom:0; width:100%;}
.footer ul{ padding:0; margin:0;}
.footer li{ width:33%; text-align:center; font-size:14px; float:right; border-top:1px solid #cccccc; border-left:1px solid #cccccc;list-style:none; line-height:31px; background:rgba(255,255,255,1.00)}
.footer li:last-child{border-left:0px solid #cccccc;}
.footer li img{ margin-top:5px;}
.mainScreen{ background:url(../images/MainScreenBG.png) no-repeat right;    margin: 0 auto;    width: 73%;}
.mainScreen li{ list-style:none;line-height:90px; margin-right: -26px; padding-right: 70px;}
.mainScreen a{color:#222;}
.mainScreen1{ background:url(../images/MainScreenBtn1.png) no-repeat right; }
.mainScreen2{ background:url(../images/MainScreenBtn2.png) no-repeat right; }
.mainScreen3{ background:url(../images/MainScreenBtn3.png) no-repeat right;}
.mainScreen4{ background:url(../images/MainScreenBtn4.png) no-repeat right;}
.deliverTitle{ background:url(../images/deliverTitle.png) no-repeat right; line-height:50px; font-size:14px; padding-right:50px;}
.deliverBarcodeTitle{ background:url(../images/barcodeTitle.png) no-repeat right; line-height:50px; font-size:14px; padding-right:50px;}
.dadagTitle{ background:url(../images/dadagTitle.png) no-repeat right; line-height:50px; font-size:14px; padding-right:50px;}
.miyunTitle{ background:url(../images/miyunTitle.png) no-repeat right; line-height:50px; font-size:14px; padding-right:50px;}
.deliverBtn1{ width:130px; height:130px; float:right;-webkit-box-shadow: 1px 1px 3px rgba(50, 50, 50, 0.75);
-moz-box-shadow:    1px 1px 3px rgba(50, 50, 50, 0.75);
box-shadow:         1px 1px 3px rgba(50, 50, 50, 0.75);text-align:center; margin-left:20px; margin:50px 20px 0 0px;}
.deliverBtn1 img{ margin-top:32px;}
.deliverBtn2{ width:130px; height:130px; float:left;-webkit-box-shadow: 1px 1px 3px rgba(50, 50, 50, 0.75);
-moz-box-shadow:    1px 1px 3px rgba(50, 50, 50, 0.75);
box-shadow:         1px 1px 3px rgba(50, 50, 50, 0.75);text-align:center; margin:50px 0 0 20px;}
.deliverBtn2 img{ margin-top:32px;}
.deliverBtn1 a,.deliverBtn2 a{color:#222;}
.deliverBtn2 a{color:#c6040c;}
.BarcodeFields{ width:80%; margin:0 auto;}
.BarcodeFields select{ border:1px solid #b9b9b9; text-align:right;font-family: 'Arimo', sans-serif; font-size:18px; padding:10px 20px 10px 0; width: 100%;margin-top: 0px;}
.BarcodeFields select#noReportReasonsList118 {margin-top:10px;}
.BarcodeArea{ width:80%; margin:0 auto; background:url(../images/ScanBtn.jpg) no-repeat;background-size: 100% 103px; min-height:103px; margin-top:8px;}
.greyText{ color:#a2a7aa; font-size:12px;}

#no_deliver {
  max-width:100%;
}
#no_deliver input[type="radio"] {
  position: absolute;
  opacity: 0;
  -moz-opacity: 0;
  -webkit-opacity: 0;
  -o-opacity: 0;
  background:rgba(255,255,255,1.00);
}

#no_deliver input[type="radio"] + label {
  position: relative;
  padding: 0 0 0 25px;
  font-size: 16px;
  line-height: 25px;
  margin:0 0 10px 0;
}

#no_deliver input[type="radio"] + label:before {
  content: "";
  display: block; float:right; margin-left:7px;    margin-top: 4px;
  top: 2px;
  height: 15px;
  width: 15px;
  background: white;
  border: 1px solid gray;
  box-shadow: inset 0px 0px 0px 2px white;
  -webkit-box-shadow: inset 0px 0px 0px 2px white;
  -moz-box-shadow: inset 0px 0px 0px 2px white;
  -o-box-shadow: inset 0px 0px 0px 2px white;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -o-border-radius: 8px;
}

#no_deliver input[type="radio"]:checked + label:before {
  background: #ff0b0b;
}
.mainContent{	clear: both;
	margin-left: 0;
	width: 100%;
	float: left;
	display: block; overflow: auto;}
.miyunTop{ width:90%; margin:0 auto; text-align:center;}
.miyunTopNum{width:90%; margin:0 auto 24px; text-align:center; font-size:36px; font-weight:700;} 
.miyunPopup{ width:100%; height:100%; position:fixed; background:rgba(0,0,0,0.70); z-index:999;}
.miyunPopupInner{ background:rgba(255,255,255,1.00); width:80%; height:55%; margin:125px auto; padding:20px;}
.shiyuchPopupInner{ background:rgba(255,255,255,1.00); width:80%; height:45%; margin:125px auto; padding:20px;}
.miyunPopupInnerTop{ font-size:24px; text-align:center; border-bottom:1px solid #b0b0b0; padding-bottom:30px;}
.shiyuchPopupInnerTop{    font-size: 22px;
    text-align: center;
    padding-bottom: 30px;
    line-height: 23px;}
.shiyuchPopupInnerTop img{ margin-bottom:15px;}
.miyunPopupInnerTop span{ font-size:36px; font-weight:700; } 
.miyunPopupInnerBottom{ font-size:24px; text-align:center;  padding:20px 0;}
.miyunPopupInnerBottom span{ font-size:36px; font-weight:700; } 
.leftText{ float:left; margin:10px 0 0 0;}
.leftText span{ color:#ff0b0b; font-weight:700;}
.rightText{ float:right; margin:10px 0 0 0;}
.rightText span{ color:#ff0b0b; font-weight:700;}
/* Tablet Layout: 481px to 768px. Inherits styles from: Mobile Layout. */

/* 10.9.15 */
.noIconinputLeft{ padding:10px 3% 10px 4%; margin-top:10px; width: 40%; float:left;}
.noIconinputRight{ padding:10px 3% 10px 4%; margin-top:10px; width: 40%; float:right;}
.smallText{ font-size:12px; font-weight:700; text-align:center; width:100%; margin:10px 0;}
.signatureBox{ width:100%; height:90px; border:1px solid #b9b9b9; text-align:center; margin-bottom:10px;}
.signatureBox span{     padding-top: 32px;    display: block;}
.merukezetTitle{ background:url(../images/merukezetTitle.png) no-repeat right; line-height:50px; font-size:14px; padding-right:50px;}
.totalScanItems{ width:80%; margin:10px auto 15px; overflow:hidden;}
.totalScanItemsIcon{ width:35px; height:28px; background:url(../images/envalopNumber.png); float:right; margin-right:10px;}
.totalScanItemsIcon span{ color:#fff; font-size:12px;  position: relative; right: 6px; top: -2px;}
.totalScanItemsText{ float:right;    line-height: 34px; font-size:14px;}
.totalScanItemsedit{ width:61px; background:url(../images/editIcon.png) no-repeat bottom; float:left; line-height: 27px;}
.totalScanItemsedit a{ color:#3e474e; font-size:14px;}
.deleteIcon{background:url(../images/deleteIcon.png) no-repeat left 16px; float:left;padding-left:26px; }
ul.deleteList li{ line-height:51px; text-align:right; width:100%; list-style:none; border-bottom:1px solid #7b7b7b; }
ul.deleteList{ padding:0;}
ul.deleteList li:first-child{border-top:1px solid #7b7b7b;}
.backBtn{ width:100%; margin:10px auto; }
.backBtn a{color:#fff; width:50%; margin:0 auto;    float: left;
font-size: 20px;
padding: 10px 0;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
 background:url(../images/backArrow.png) no-repeat 86% 17px rgb(255, 11, 11);
-webkit-box-shadow: 0px 2px 1px rgba(50, 50, 50, 0.75);
-moz-box-shadow:    0px 2px 1px rgba(50, 50, 50, 0.75);
box-shadow:         0px 2px 1px rgba(50, 50, 50, 0.75);text-align:center;}
.backBtn a:visited{color:#fff;}
@media only screen and (min-width: 481px) {

.gridContainer {
	width: 100%;
	clear: none;
	float: none;
	margin-left: auto;
}
#div1 {
}
.header {
}
.Logo {
}
.menu {
}
.HeaderLeft {
}
.HomeMain {
}
.HomeIcon {
}
.titel {
}
.footer {
}
.pageTitle {
}
.hide_tablet {
display: none;
}
.zeroMargin_tablet {
margin-left: 0;
}
}

/* Desktop Layout: 769px to a max of 1232px.  Inherits styles from: Mobile Layout and Tablet Layout. */

@media only screen and (min-width: 769px) {

.gridContainer {
	width: 100%;
	max-width: 1232px;
	margin: auto;
	clear: none;
	float: none;
	margin-left: auto;
}
#div1 {
}
.header {
}
.Logo {
}
.menu {
}
.HeaderLeft {
}
.HomeMain {
}
.HomeIcon {
}
.titel {
}
.footer {
}
.pageTitle {
}
.zeroMargin_desktop {
margin-left: 0;
}
.hide_desktop {
display: none;
}
}
.autocomplete-suggestions {
    top: 30px;
    left: 0;
    width: 100%!important;
    background-color: #3e474e;
    color: #fff;
}
    .autocomplete-suggestions > div {
        padding-right: 10px;
    }
